body{
    padding: 5px;
    background-color:whitesmoke;
    color: #9a2733;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.darkMode{
    background-color: #9a2733;
    color: #d4c5c8;
}


.btnDarkMode {
    background: #9a2733;
    color: #d4c5c8;
    position: relative;
    display: inline-block;
    border-radius: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 15px;

}
.darkMode .btnDarkMode{
    font:#f2f5d8;
    background:#9a2733 ;
}
.darkMode .testata{
    color: #9a2733;
    background:#f2f5d8 ;
}

.testata{
    display: flex;
    /* box-sizing: border-box; */
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    color:whitesmoke;
    background: #9a2733;
    padding: 25px 25px;
}
.onz{display: flex;
    justify-content: space-between;
    background: #9a2732;
    border-radius: 35px;
}

.testata div{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}
p{
    padding: 35px;;
}

ul{
    color: #000;
    list-style-type: none;
}

ul li {
    color:black;
    font-style: italic;
}
.darkMode ul li{
    color: #d4c5c8;}

ul li b{
    color: #9a2733;
    font-style: italic;

}
.darkMode ul li b{
    color: #f2f5d8;
}
.sottotitolo{
    font-style: italic;
    color: whitesmoke;
    background-color:#9a2733;
    display: flex;
   align-items:center;
   padding: 15px 35px;
   border-radius: 35px;
}
.darkMode .sottotitolo{
    background: #f2f5d8;
    color: #9a2733;
}
.content{
}

.content2{
    /* display: block;
    align-content: flex-start; */
}
.button2{
    background: #9a2733;
    color: #d4c5c8;
    position: relative;
    display: inline-block;
    border-radius: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 5px 10px;
}

.footer{
    background-color: #9a2733;
    color: #d4c5c8;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-radius: 35px;
}
.darkMode .footer{
    background:#f2f5d8 ;
    color: #9a2733;
}